{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": false,
                    "browsers": [
                        "> 0.5%",
                        "last 2 versions",
                        "not dead"
                    ]
                }
            }
        ],
        [
            "@babel/preset-react"
        ]
    ]
}